<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="justify-content-start" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Lista de Productos</a>
      </li>
    </ul>
  </div>

  <div *ngIf="userIsAuth" class="justify-content-start" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/buy" class="nav-link">Comprar</a>
      </li>
    </ul>
  </div>



  <div *ngIf="!userIsAuth" class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" style="margin-right:10px">
        <a routerLink="/login" class="nav-link">Iniciar Sesión</a>
      </li>
    </ul>
  </div>

  

  <div *ngIf="userIsAuth" class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" style="margin-right:10px">
        <a class="nav-link">Bienvenido, {{username}}</a>
      </li>

      <li class="nav-item" style="margin-right:10px">
        <a routerLink="/login" class="nav-link" (click)="logout()">Cerrar Sesión</a>
      </li>

    </ul>
  </div>

</nav>