<?xml version="1.0" encoding="UTF-8"?>
<module name="com.mysqldatabase.mysql" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="mysql-connector-java-8.0.29.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="java.compiler"/>
        <module name="java.desktop"/>
        <module name="java.instrument"/>
        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.scripting"/>
        <module name="java.sql"/>
        <module name="java.transaction.xa"/>
        <module name="javax.persistence.api"/>
    </dependencies>

</module>